@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
html, body {
  font-family: 'Open Sans Condensed', sans-serif;
}

$font_color_gray: #888;
$font_color_lightgray: #ddd;
$font_color_blue: "blue";

.s1 {
   height: 100px;
   border-top: dotted 1px $font_color_gray;
}

#circles {
   text-align: center;
}

.circle {
   opacity: 0;   
   float: left;
   text-align: center;
   margin-left: 70px;
}

.king_pic {
   width: 75px;
   height: 75px;
   border-radius: 50%;
   border: solid 2px black;
   overflow: hidden;
   img {
      width: 100%;
   }
}