@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
html, body {
  font-family: 'Open Sans Condensed', sans-serif; }

.s1 {
  height: 100px;
  border-top: dotted 1px #888888; }

#circles {
  text-align: center; }

.circle {
  opacity: 0;
  float: left;
  text-align: center;
  margin-left: 70px; }

.king_pic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 2px black;
  overflow: hidden; }
  .king_pic img {
    width: 100%; }
